@use '../abstracts' as *;
.feature-box {
	background-color: rgba($color-white, 0.8);
	font-size: 1.5rem;
	border-radius: 3px;
	text-align: center;
	padding: 2.5rem;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
	transition: all 200ms ease-out;
	@include respond($tab-port) {
		padding: 2rem;
	}
	&__icon {
		background-image: linear-gradient(
			to right,
			$color-primary-light,
			$color-primary-dark
		);
		background-clip: text;
		color: transparent;
		font-size: 6rem !important;
		margin-bottom: 0.5rem;
	}
	&:hover {
		transform: translateY(-1.5rem) scaleX(1.03);
	}
}
