@use '../abstracts' as *;
.story {
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
	background-color: rgba($color-white, 0.6);
	padding: 6rem 6rem 6rem 9rem;
	font-size: $default-font-size;
	transform: skewX(-12deg);
	@include respond($tab-port) {
		padding: 4rem 4rem 4rem 7rem;
	}
	@include respond($phone) {
		transform: skewX(0);
	}
	& > * {
		transform: skewX(12deg);
		@include respond($phone) {
			transform: skewX(0);
		}
	}
	&__shape {
		position: relative;
		width: 15rem;
		height: 15rem;
		float: left;
		// to make circle
		shape-outside: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		// changed 12 -> 12.01 to fix slice on the right border
		transform: translateX(-3rem) skewX(12.01deg);
		@include respond($phone) {
			transform: translateX(-3rem) skewX(0);
		}
	}
	&__image {
		height: 100%;
		transition: transform 500ms ease-out;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transform: translateX(-4rem) scale(1.4);
	}
	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		color: $color-white;
		font-size: 1.7rem;
		text-align: center;
		text-transform: uppercase;
		opacity: 0;
		transition: transform 500ms ease-out;
		-webkit-backface-visibility: hidden;

		backface-visibility: hidden;
	}
	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
	&:hover &__image {
		transform: translateX(-4rem) scale(1);
		-webkit-filter: blur(3px) brightness(80%);
		filter: blur(3px) brightness(80%);
	}
}
